@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

	:root {
		--font-body: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		--font-mono: 'Fira Mono', monospace;

	
		--color-bg-0: rgb(170, 170, 255);
		--color-bg-1: hsl(200, 55%, 77%);
		--color-bg-2: hsl(200, 55%, 78%);

		--color-theme-1: #ff3e00;
		--color-theme-2: #4075a6;
		--color-text: rgba(0, 0, 0, 0.7);
		--column-width: 42rem;
		--column-margin-top: 4rem;
		font-family: var(--font-body);
		color: var(--color-text);
		
		--color-text-0: rgb(0, 0, 0);
		--color-text-1: rgb(45, 45, 45);
		--color-text-2: rgb(100, 100, 100);
		--color-bg-0: rgb(250, 250, 250);
		--color-bg-1: rgb(230, 230, 230);
		--color-bg-2: rgb(255, 255, 255);
		--color-content-0: rgb(0, 153, 255);
		--color-content-1: rgb(255, 0, 255);
		--color-content-2: rgb(255, 255, 0);
}

@media (prefers-color-scheme:dark){
	:root{
		--color-text-0: rgb(255, 255, 255);
		--color-text-1: rgb(220, 220, 220);
		--color-text-2: rgb(100, 100, 100);
		--color-bg-0: rgb(70, 70, 80);
		--color-bg-1: rgb(150, 150, 150);
		--color-bg-2: rgb(150, 150, 150);
		--color-content-0: rgb(153, 102, 255);
		--color-content-1: rgb(255, 255, 255);
		--color-content-2: rgb(255, 255, 255);
	}
}

:root[data-theme="dark"]{
	--color-text-0: rgb(255, 255, 255);
	--color-text-1: rgb(220, 220, 220);
	--color-text-2: rgb(100, 100, 100);
	--color-bg-0: rgb(70, 70, 80);
	--color-bg-1: rgb(150, 150, 150);
	--color-bg-2: rgb(150, 150, 150);
	--color-content-0: rgb(153, 102, 255);
	--color-content-1: rgb(255, 255, 255);
	--color-content-2: rgb(255, 255, 255);
}

:root[data-theme="light"]{
	--color-text-0: rgb(0, 0, 0);
	--color-text-1: rgb(45, 45, 45);
	--color-text-2: rgb(100, 100, 100);
	--color-bg-0: rgb(250, 250, 250);
	--color-bg-1: rgb(230, 230, 230);
	--color-bg-2: rgb(255, 255, 255);
	--color-content-0: rgb(0, 153, 255);
	--color-content-1: rgb(255, 0, 255);
	--color-content-2: rgb(255, 255, 0);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(230, 230, 250, 0.75) 0%,
			rgba(200, 200, 200, 0) 100%
			),
			linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
		}
		
		a:hover {
			text-decoration: underline;
		}
	}

@layer components {
	.tableComponent {
		@apply border-collapse table-auto w-full text-sm my-3;
	}
	.trComponent {
		@apply bg-bg-primary odd:brightness-110 hover:brightness-90;
	}
	.cardHolderComponent {
		@apply grid grid-cols-[repeat(auto-fill,minmax(260px,1fr))] shadow-sm my-8 relative rounded-xl w-full bg-bg-secondary;
	}
	.tableHolderComponent {
		@apply shadow-sm my-8 relative rounded-xl overflow-auto bg-bg-primary w-[90%];
	}
	.dropDownComponent {
		@apply absolute h-0 z-20 w-56 overflow-hidden rounded-md shadow-xl bg-bg-primary text-text-primary transition-all;
	}
	.openDropDownComponent {
		@apply py-5 overflow-visible;
	}
	.btnPrimaryComponent {
		@apply w-full py-2 rounded-md text-white font-bold cursor-pointer bg-content-primary hover:brightness-90;
	}
	.txtPrimaryComponent {
		@apply focus:outline-text-primary rounded-md w-full shadow-sm px-5 py-2 bg-bg-secondary placeholder-text-tertiary;
	}
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}
  
::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #f7f4ed;
}
  
::-webkit-scrollbar-thumb {
	background: #e0cbcb;
	border-radius: 100vh;
	border: 3px solid #f6f7ed;
}
  
::-webkit-scrollbar-thumb:hover {
	background: #c0a0b9;
}